body{
    background: #f0f2f5;
}
.button_delete_edit {
    display: grid;
    top: -5px;
    left: -11px;
    background: white;
    position: absolute;
    padding: 0.2rem;
}

a.categorie_url {
    text-decoration: none;
}
a.tags_url{
    text-decoration: none;
}

.input-group .btn {
    position: absolute !important;
    right: 0 !important;
    border-radius: 23px !important;
    background: #337ab7 !important;
    border: 1px solid #337ab7 !important;
    color: white !important;
    font-weight: 500 !important;
}

.text-muted {
    color: #6c757d !important;
    display: flex !important;
    align-items: center !important;
}
.content_badge_roles span {
    font-size: 0.30rem !important;
    /*font-weight: 900 !important;*/
}
.content_badge_roles_options span{
    font-size: 0.55rem !important;
    font-weight: 900 !important;
}

.content_name_user{
    font-size: 0.8rem;
    font-weight: 900 !important;
}
div#spinner1 {
    display: flex;
    justify-content: center;
}
.no-more {
    opacity: 0;
    display: none;
}
.btn-follow {
    background: #0d6efd !important;
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    color: white !important;
    border: 0 !important;
}

.content_user_roles{
    position: relative;
}

.roles_circle {
    position: absolute;
    top: 0px;
}

.button_stop_following {
    /*border: 1px solid !important;*/
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    padding: 0.4rem !important;
    border-radius: 0.3rem !important;
}

.dropdown-menu[data-bs-popper] {
    left: -128px !important;
}

.card{
    border: 0px solid rgba(0,0,0,.125) !important;
}

.row.content-post {
    padding: 1rem !important;
}
a#navbarDropdown {
    background: #f0f2f5 !important;
    border-radius: 1rem !important;
    height: 34px !important;
    width: 34px !important;
}

.post_content {
    padding: 1rem;
    display: flex;
}

.img_post {
    height: 250px;
    object-fit: cover;
}