body{
    background: #f0f2f5;
}
.button_delete_edit {
    display: grid;
    top: -5px;
    left: -11px;
    background: white;
    position: absolute;
    padding: 0.2rem;
}
.content_bar{
    background-color: #f0f2f5 !important;
    padding: 0 !important;
}

.navbar-light .navbar-brand {
    color: rgb(13 110 253);
    font-weight: 800;
}
.content_navbar{
    display: flex;
    align-items: center;
}
a.categorie_url {
    text-decoration: none;
}
a.tags_url{
    text-decoration: none;
}

.input-group .btn {
    position: absolute !important;
    right: 0 !important;
    border-radius: 23px !important;
    background: #0d6efd !important;
    border: 1px solid #0d6efd !important;
    color: white !important;
    font-weight: 500 !important;
}

.text-muted {
    color: #6c757d !important;
    display: flex !important;
    align-items: center !important;
    font-size: 0.7rem;
    font-weight: 400;
}
.content_badge_roles span {
    font-size: 0.30rem !important;
    /*font-weight: 900 !important;*/
}
.content_badge_roles_options span{
    font-size: 0.55rem !important;
    font-weight: 900 !important;
}

.content_name_user{
    font-size: 0.8rem;
    font-weight: 900 !important;
}
div#spinner1 {
    display: flex;
    justify-content: center;
}
.no-more {
    opacity: 0;
    display: none;
}
.btn-follow {
    background: #0d6efd !important;
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    color: white !important;
    border: 0 !important;
}

.content_user_roles{
    position: relative;
}

.roles_circle {
    position: absolute;
    top: 0px;
}

.button_stop_following {
    /*border: 1px solid !important;*/
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    padding: 0.4rem !important;
    border-radius: 0.3rem !important;
}

.dropdown-menu[data-bs-popper] {
    left: -128px !important;
}

.card{
    border: 0px solid rgba(0,0,0,.125) !important;
}

.row.content-post {
    padding: 1rem !important;
}
a#navbarDropdown {
    background: #f0f2f5 !important;
    border-radius: 1rem !important;
    height: 34px !important;
    width: 34px !important;
    text-align: center;
}
.content_post {
    padding-top: 4rem;
}

.post_content {
    padding: 1rem;
    display: flex;
}

.img_post {
    height: 250px;
    object-fit: cover;
}

img.img_profile {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
}

img.img_profile_post_content {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
img.rounded-circle.img_profile_post {
    width: 40px;
    height: 40px;
    margin-right: 0.4rem;
}
img.rounded-circle.img_profile_nav{
    width: 40px;
    height: 40px;
}
.post_select {
    cursor: pointer !important;
}
a.categorie_url:hover {
    background: white !important;
}
a.tags_url:hover{
    background: white !important;
    color: #198754;
}
p.badge.text-dark.text-md-start.fs-6 {
    margin: 0;
}
.content_badge_roles {
    display: inherit;
    gap: 0.2rem;
}
.row.content_form_login {
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}
.login{
    margin: 0 auto;
}

.like-btn {
    color: red !important;
    cursor: pointer;
}

.unlike-btn {
    color: #777777 !important;
    cursor: pointer;
    font-size: 0.8rem;
}
.like-btn-categorie {
    color: red !important;
    cursor: pointer;
}

.unlike-btn-categorie {
    color: #777777 !important;
    cursor: pointer;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .content_col-one {
        display: none;
    }
    .content_col-tree {
        display: none;
    }
    .content_post {
        padding-top: 3rem;
    }
    .content_bar{
        padding: 0.8rem 0 0.8rem 0 !important;
    }
}

@media (max-width: 991px) {
    .content_navbar{
        display: flex;
        justify-content: center;
        gap: 0.7rem;
    }
}