<nav class="d-flex justify-content-center" aria-label="...">
    <ul class="pagination">
        {% if page == 1 %}
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ path('index', {'page':page - 1}) }}" >Previous</a>
            </li>
        {% endif %}

        {% for i in 1..pageCount %}
            <li class="page-item " aria-current="page">
                <a class="page-link" href="{{ path('index', {'page':i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if page == pageCount %}
            <li class="page-item disabled">
                <a class="page-link">Siguiente</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link link-next" href="{{ path('index', {'page':page + 1}) }}">Siguiente</a>
            </li>
        {% endif %}
    </ul>
</nav>